@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot');
  src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.woff') format('woff'),
      url('../fonts/icomoon.ttf') format('truetype'),
      url('../fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[data-icon]:before {
        font-family: 'icomoon';
        content: attr(data-icon);
        speak: none;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
    }
* {
  padding:0;
  margin:0;
  font-family: 'Azo-sans-web', sans-serif;
  border-radius:0 !important;
  -webkit-border-radius:0 !important;
  -moz-border-radius:0 !important;
}

.clearfix {
  overflow: auto;
}
.row{
  margin-left:0;
  margin-right:0;
}
.container{
  width:100%;
  padding:0;
}
.box-full{
  padding:0;
}
body {
    font-family: "Azo-sans-web",sans-serif;
    font-size: 1em;
    letter-spacing: 2px;
}
header,nav,footer,section{
  box-sizing:border-box;
}
h1 {
  color: #F5A623;
  line-height: 48px;
  display: inline;
}
#name{
  display:block;
  font-family:"Lato",sans-serif;
  font-weight:100;
  color:#f6f1ed;
  font-size:6em;

}
h2 {
  font-weight: bold;
  font-size: 24px;
  color: #999999;
  line-height: 29px;
  padding: 10px;
}

h3 {
  font-style: italic;
  font-size: 20px;
  color: #000000;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4A4A4A;
  line-height: 17px;
}

h2, h3, h4, h5 {
  padding-left: 5%;
  padding-right: 5%;
}

p {
  font-size: 14px;
  color: #333333;
  line-height: 21px;
}

a {
  color: #1199C3;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}
a:visited{
  color:#9fa8a3;
}
.welcome-message {
  display:block;
  font-family:inherit;
  text-align: center;
  width:55%;
  font-weight:100;
  margin:0 auto;
  font-size: 2.5em;
  color: #F3F3F3;
  line-height: 48px;
}

/* TODO: Replace with image later */
#header {
  background-color: #6a5750;
  margin-top:-20px;
}
.role{
  font-family:"prozima-nova-extra-condensed",sans-serif;
  color:#58EFB9;
  display:block;
  font-weight:900;
  font-size:1.6em;
}

/*.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}
*/
.lnr-code{
  color:#F7EDE1;
  font-size:5em;
  display:block;
  text-align: center;
}
.lnr-chevron-down{
  color:#F7EDE1;
  font-size:2.1em;
}
.lnr-chevron-down:after{
  content:"";
  border:1px solid #F7EDE1;
  display:block;
  margin:0 auto;
  position:relative;
  top: -35px;
  left: 1px;
  border-radius:50% !important;
  width:42px;
  height:42px;

}
.lnr-chevron-up{
  font-size:2.1em;
  color:#333;
}
.no-js .scroll-up{
  display:none;
}
.scroll-up{
  position:fixed;
  bottom:2em;
  right:30px;
  display:none;
  text-decoration:none !important;
}
.arrow-up{
  display:block;
  position:relative;
  cursor:pointer;
  text-align: center;
}
.arrow-up:hover{
  text-decoration:none;
}
.arrow-up:after{
  content:"";
  border:1px solid #333;
  display:block;
  margin:0 auto;
  position:relative;
  top:-30px;
  border-radius:50% !important;
  width:42px;
  height:42px;
}
.page-scroll{
  display:block;
  text-align:center;
  position:relative;
  cursor:pointer;
  top:20px;
}
.center-content {
  padding-top: 2.5%;
  padding-bottom: 2.5;
}
/*header styles */
.page-header{
  background-color: rgba(255,255,255);
  width:100%;
  padding-bottom:0;
}
.page-header.sticky{
  position:fixed;
  top:0;
  background-color:#fff;
  z-index: 999999999;
  padding:10px;
  padding-bottom:40px;
}
.primary-nav{
  display:none;
}
.primary-nav.open{
  display:block;
}
.nav-list{
  width:100%;
  padding:0;
  margin:0;
}
.nav-link{
  display:block;
  text-align: center;
  padding:20px;
}
.nav-link a{
  font-family:inherit;
  font-size:1.3em;
  font-weight:600;
  color:#040707;
}
.nav-link a:hover,
.icomoon-group:hover{
  color:#6ed3cf;
}
.nav a {
  text-decoration: none;
  padding:1.5em;
}
/*end of header styling*/
/* hamburger menu */
#menu{
  position:absolute;
  display:block;
  border-top:1px solid #040707;
  width: 28px;
  height: 13px;
  right: 26px;
  top:10px;
  z-index:16;
}

#menu .before{
  position:absolute;
  width:28px;
  right:0;
  top:5px;
  content:"";
  border-top:1px solid #040707;
}
#menu .after{
  position: absolute;
    width: 28px;
    right: 0;
    top: 11px;
    content:"";
    border-top: 1px solid #040707;
}
ul {
  list-style-type: none;
}

.biopic {
  margin:0 auto;
  padding: 10px;
  width: 200px;
  display: none;
  border-radius:50%;
}

.work-entry a,
.project-entry a,
.education-entry a{
  font-size:1em;
  font-family:inherit;
}
/* fancybox styles */
.fancybox-title{
  font-size:1.2em;
  font-family:inherit;
  font-weight:100;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align:center;
}
#fancybox-thumbs{
  margin:0 auto;
}
/* work */
.work{
  background-color:rgba(117, 230, 209, 0.98);

}
.work-entry .work-description{
  background:rgba(245, 211, 134, 0.94);
}
.work,
.education{
  margin-top:30px;
}
.work h2,
.education h2{
  color:#fff;
  font-family:"Open Sans",sans-serif;
  font-weight:900;
  font-size:4em;
  text-transform: uppercase;
}
.education a:visited{
  color:#F7EDE1;
}
a.title{
  font-size:1.5em;
  margin-top:-5px;
}
.dates{
  display:none;
}
.date-month{
  position:relative;
  top:-17px;
  color:#fff;
}
.date-year{
  position:relative;
  top:-15px;
  font-weight:100;
  font-size:1.8em;
  color:#4d5256;
}
.text-section{
  width:60%;
  margin:0 auto;
  color:#4d5256;
  position:relative;
  top:2px;
}
.job{
  color:rgba(247, 88, 48, 0.96);
  font-size:1em;
  margin-top:-5px;
}
/*projects */
.project-container{
  width:96%;
  margin:0 auto;
  max-width:960px;
}
.project-entry,
.work-entry{
  position:relative;
  height:auto;
  padding:0;
  text-align: center;
  margin:0 auto;
}
.project-entry a{
  position:relative;
  overflow: hidden;
}
.project-entry a .caption{
  height:100%;
  width:100%;
  top:100%;
  left:100%;
  position:absolute;
}
.project-entry img{
  width:calc(50%-30px);
  margin:10px;
  margin:0 auto;
}
.img-description:nth-child(2){
  top:-20px;
  position:absolute;
}
.portfolio-img{
  height:180px;
  width:100%;
  padding:10px;
  display:inline-block;
}
.img-description{
  background:rgba(117, 230, 209, 0.92);
  position:absolute;
  left:20px;
  top:20px;
  right:20px;
  bottom:10px;
  padding:0;
  margin:0 auto;
  z-index: 9999;
  display:none;
  transition:opacity 0.2s ease-in-out;
  -moz-transition:opacity 0.2s ease-in-out;
  -ms-transition:opacity 0.2s ease-in-out;
  -o-transition:opacity 0.2s ease-in-out;
  -webkit-transition:opacity 0.2s ease-in-out;
}
.project-entry:hover .img-description{
  display:block;
}
.work-entry:hover .img-description{
  display:block;
}
.img-description:before,
.img-description .caption{
  display:inline-block;
  vertical-align: middle;
}
.img-description .caption{
  font-style: normal;
  margin-top:-20px;
}
.caption a{
  color:#fff;
}
.description{
  width:80%;
  margin:0 auto;
  top:-2px;
  position:relative;
}
.img-descriptipn:before{
  content:' ';
  height:100%;
}

.clock{
  content:url("../images/clock.svg");
  width:30px;
  height:30px;
  position:relative;
  display:inline-block;
  right:50px;
  top:15px;
}
.work-description .location-text{
  top:-5px;
}
.location-text {
  color: #4d5256;
  font-weight:100;
  line-height:16px;
  font-size:1em;
  position:relative;
  top:15px;
}
.work-description a:hover,
#projects a:hover{
  color:#9068be;
}

.map{
  content:url("../images/lnr-map-marker.svg");
  width:15px;
  height:15px;
  position:relative;
  top:10px;
  left:65px;
}
/* education */
.education{
  background-color: #fae596;
}
.education-entry{
  background-color:#f97e72;
  color:#fff;
  width:100%;
  top:50px;
  padding-bottom:50px;
}
.college{
  position: relative;
  top: 40px;
  right: 27%;
}
.school{
  color:#4d5256;
  margin-top:50px;
  position:relative;
  display:block;
}
.school-icon{
  content:url("../images/education.svg");
  width:50px;
  height:50px;
  margin:0 auto;
  top:30px;
  display:block;
  position:relative;
}
.degree{
  color:#fff;
  display:block;
  margin-top:50px;
}
.major{
  margin-top:0;
  display: block;

}
.online-entry{
  background-color:rgba(117, 230, 209, 0.98);
  width:100%;
  padding-bottom: 50px;
}

.online-class,
.academics{
  font-family:"proxima-nova-extra-condensed",sans-serif;
  font-weight:900;
  font-size:2.5em;
  letter-spacing:3px;
  font-style:normal;

}
.academics{
  display:none;
}
.calendar{
  content:url("../images/calendar.svg");
  width:30px;
  height:30px;
  display:block;
  position:relative;
  left:2%;
  top:42px;

}
.online-title{
  color:#4A423F;
  font-weight:600;
  font-size:1.5em;
  position:relative;
  display:block;
  top:50px;
  width:50%;
  margin:0 auto;
}
.arrow-right{
  content:url("../images/lnr-chevron-right.svg");
  width:30px;
  height:30px;
  display:block;
  top: 20px;
  float:right;
}
.screen{
  content:url("../images/lnr-screen.svg");
  width:30px;
  height:30px;
  top:40px;
  z-index:99999;
  display:block;
  margin:0 auto;
  position:relative;
}
.education a:hover
{
  color:#fae596;
  transition:color 0.4s ease-in-out;
  -webkit-transition:color 0.4s ease-in-out;
  -moz-transition:color 0.4s ease-in-out;
  -o-transition:color 0.4s ease-in-out;
}
.education .date-month,
.education .date-year{
  top:-50px;
  left:-160px;
}
.education .date-year{
  top:-30px;
}
.calendar{
  top:50px;
}

/* Bar chart stuff */


#skills-display h2,
#projects h2,
#mapDiv h2{
  font-family:"Open Sans",sans-serif;
  font-size:4em;
  font-weight:900;
  color:#6a5750;
  text-transform: uppercase;
}

.skills-view .label{
  font-size:1em;
  display:block;
  text-align:center;
  font-weight:400;
}
.skills-view .red{
  background-color:#ff9987;
}
.skills-view .green{
  background-color: #5AD3D1;
}
.skills-view .dark{
  background-color:#e1d8c9 ;
}
.skills-view .blue{
  background-color: #47DCF7;
}
.skills-view .purple{
  background-color: #9068be;
}
.chart div {
  font: 10px sans-serif;
  background-color: #4A4A4A;
  text-align: right;
  padding: 3px;
  margin: 1px;
  height: 12px;
  color: white;
  display: inline-block;
}
#my-chart{
  display:none;
  margin:0 auto;
  width:200px;
}
span {
  padding: 5px;
}
.contact{
  background-color:#f0eceb;
  color:#49412c;
  margin-top:5%;
}
#letsConnect {
  text-align: center;
  margin:0;
  padding:0;
  bottom:0;
}
#letsConnect h2{
  font-family:"Open Sans",sans-serif;
  font-weight:800;
  font-size:4em;
  color:#b0a18e;

}
#footerContacts,
#rightContacts
{
  font-size:1.6em;
  font-weight:100;
  width:100%;
  display:block;
}
#rightContacts li{
  display:block;
  margin:30px 30px;
  font-size:2em;
  transition:color 0.3s ease-in-out;
  -webkit-transition:color 0.3s ease-in-out;
  -moz-transition:color 0.3s ease-in-out;
  -o-transition:color 0.3s ease-in-out;
}
#rightContacts li:hover,
.emailme:hover,
.tumblr-blog:hover,
#rightContacts a:visited{
  color:#6ed3cf;
  text-decoration: none;
}
a:-webkit-any-link{
  text-decoration: none;
}
a:-moz-any_link{
  text-decoration: :none;
}
a:-o-any_link{
  text-decoration: none;
}
#map {
  position:relative;
  background-color: rgb(229, 227, 223);
  display:block;
  height: 100%;
  overflow: hidden;
  width:100%;
}

#mapDiv {
  height:250px;
  width: 100%;
  margin-bottom:25%;
  background:#5A5959;
}
#mapDiv h2{
  margin-top:0;
  color:#fff;
  line-height:44px;
}
.emailme,
.tumblr-blog{
  color:#333;
}
.blog,
.email,
.location,
.phone{
  width:35px;
  height:35px;
  position:relative;
  top:13px;
  right:10px;
}
.phone{
  content:url("../images/lnr-smartphone.svg");
}

.blog{
  content:url("../images/lnr-screen.svg");
}
.email{
  content:url("../images/lnr-envelope.svg");
}
.location{
  content:url("../images/lnr-map-marker.svg");

}
.icon-linkedin2:before {
    content: "\e907";
}
.icon-github:before {
    content: "\e906";
}
.icomoon-group{
  font-family:"icomoon";
  speak:none;
  color:#3b3a36;
  font-style:normal;
  font-size:2em;
}
.icon-twitter:before {
    content: "\e904";
}
.icon-facebook:before {
    content: "\e902";
}
@media only screen and (min-width:1025px){
  .education-entry .date-month{
    margin-left:-50px;
  }
  .education-entry .date-year{
    margin-left:-20px;
  }
  .online-entry .date-month{
    margin-left:30px;
  }
  .degree{
    margin-top:20px;
  }
}
@media only screen and (min-width:910px ) and (max-width: 1024px) {
  #letsConnect {
    margin-top: 5%;
  }
  .degree{
    margin-top:10px;
  }
  .education-entry .date-year{
    margin-left:-30px;
  }
  .education-entry .date-month{
    margin-left:-60px;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #letsConnect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
}

@media only screen and (min-width: 750px) {
  #skills h3,
  .biopic {
    display: block;
  }
  #my-chart{
    display:block;
  }
}
@media only screen and (min-width:580px) and (max-width:900px){
  .education .date-month{
    top:0px;
  }
  .education-entry .date-month,
  .education-entry .date-year{
    margin-top:30px;
  }
  .degree{
    margin-top:30px;
  }
  .education-entry .date-month{
    margin-left:-60px;
  }
  .education-entry .date-year{
    margin-left:-30px;
  }
  .online-entry .date-year{
    margin-top:0px;
  }
  .online-entry .date-month{
    margin-left:-20px;
  }
  .online-title{
    left:20px;
  }
}
@media only screen and (min-width: 550px){
  #menu{
    display: none;
  }
  .page-header.sticky{
    padding-bottom: 0;
  }
  .primary-nav{
    display:block;
    text-align: center;
    margin-bottom:1em;
    margin-top:-20px;
  }
  .nav-link{
    box-sizing:border-box;
    display:inline-block;
    text-align: center;

  }
  .primary-nav ul li{
    margin-right:60px;
    display: inline-block;
  }

  .academics{
    display:block;
  }
  .education-entry{
    width:48%;
    float:left;
    top:70px;
  }
  .online-entry{
    width:52%;
    float:right;
    height:100%;
  }

  .skills-view .label{
    margin:10px;
    display:inline-block;
    margin-bottom:30px;
    left:5%;
    position:relative;
  }
  .online-title{
    top:70px;
  }
  .education .date-month,
  .education .date-year{
    float:left;
    left:80px;
  }
  .education .date-month{
    top:0px;
  }
  .education .date-year{
    left:42px;
    top:40px;
  }
  .education-entry .date-month{
    top:-80px;
  }
  .education-entry .date-year{
    top:-40px;
  }
  #mapDiv{
    margin-bottom:0;
  }
  #rightContacts{
    width:50%;
    float:right;
  }
  #rightContacts li{
    display:inline-block;
  }
  #footerContacts{
    width:50%;
    float:left;
  }

}
